@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    background-color:  #fbfbfb;
    padding-top: 110px;
    font-size: 18px;
  /* background-color: rgb(246,248,242);*/
  background-color: #f0f1f3;
}


header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
    z-index: 10;
    background-color:rgb(51, 51, 51); 
}


.contenedor-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
    
}


.footer{
    min-height: 90px;
    width: 100%;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fbfbfb;
    padding: 15px;
}

/* sectio*/

#inicio{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    scroll-margin-top:90px ;
    /*background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/img/fondo.jpg);*/
}

.info .wasapp-logo{
    width: 70px;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#sobremi{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    scroll-margin-top:30px 
}



#portafolio{
   width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    scroll-margin-top:50px 
    
}

#contacto{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    scroll-margin-top:30px 
}


/* contenido de section*/

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    /*background-color :rgba(203, 203, 207);*/
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
    background-color: #ffff;
}

.cantainer-contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
    background-color: #ffff;
}



.contenedor-iconos{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    
    
    
}


#contenedor-mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    display: none;
    scroll-margin-top:80px;
    position: relative;
}

#contmensaje-cerrar{
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 23px;
    top: 30px;  
}

#contmensaje-cerrar:hover{
    transform:scale(1.2);
}

.contenedor-formulario{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

}

form {
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.3);
    background-color: #ffff;
}


/* botones*/

.btn-formulario{
    background-color: rgb(0,74 ,173);
    color: #fbfbfb;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.btn-formulario:hover, .skills:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(0,74 ,173);
    
}

.btn-descarga{
    background-color: rgb(1,114 ,180) ;
    color: #fbfbfb;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    
    
}

.btn-descarga:hover,  .linkding-logo:hover, .wasapp-logo:hover{
    transform: scale(1.1);
   
}


/* formulario*/

label {
    padding: 10px;
    width: 50%;
}

input {
    padding: 10px;
    border-radius: 15px;
    border-color: rgb(0,74 ,173);
    border-width: 2px;

}

textarea {
    padding: 10px;
    border-radius: 15px;
    border-color: rgb(0,74 ,173);
    border-width: 2px;
}


/* imagenes*/

.img-contacto{
    max-width: 100%;
    width: 60px;
    
}

.img-contacto:hover ,  .cart-btn a:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px rgb(0,74 ,173);
    
}


.logo{
    width: 150px;
   height: 80px;
}

.foto-leo{
    width: 200px;
    border-radius: 50%;
    
}

.logo-footer{
    width: 150px;
}


/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nav ul .link{
    padding: 10px;   
    
}

 ul .link:hover , .dropdown li:hover {
   background-color:  rgba(14 ,139 ,6, 0.7);
   font-weight: bold;
   border-radius: 20px;
   transition: background-color 0.5s ease;
   
   a{
    border-bottom: none;
   }
   
}


/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: #fbfbfb;
    font-weight: bold;
    padding: 10px;
    
}

.nav ul li a{
    border-bottom: 1px solid rgba(14 ,139 ,6);
}


p{
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.2;
    margin-top: 20px;
    padding: 5px;
}

h1{
    text-align: center;
    font-size: 36px;
}

h2{
    color: rgb(14 ,139 ,6);
    font-weight: bold;
}

/* tamaño de titulo secundario*/
h2{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

.text-footer{
    font-size: 16px;
}

span{
    color:  rgb(14 ,139 ,6);
    
}



.copirigths{
    font-size: 16px;
}

#menu{
    display: none;
    
    
 }
 
 .menuActive , #menu:hover{
    box-shadow: 0 0 30px rgb(14 ,139 ,6);
 }

.menu{
    width: 60px;
}


.dropdown{
    width: 200px;
    position: fixed;
    top: 90px;
    right: 0px;
    background-color:rgb(51, 51, 51, 0.8);
    display: none;
}

.dropdown ul{
    display: flex;
    flex-direction: column;
}


 .dropdown li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
 }

 .dropdown li a{
    color: #ffffff;
 }

 .dropdown .cerrar{
    background-color: rgb(228, 10, 10, 0.5);
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
    
 }

 .dropdown .cerrar:hover , #menu:hover , .skills{
    cursor: pointer;
 }

 .container-skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 }

 .skills{
    display: flex;
    width: 120px;
    height: 120px;
    align-items: center;
    border-radius: 5px;
}

.skills img  {
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
    max-height: 100%; /* Establece la altura máxima de la imagen al 100% del contenedor */
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    border-radius: 5px;
  } 


  .container-portafolio{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 }
  .carts{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(0,74 ,173);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 5px;
}

.carts .cart-contenedor-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.carts h1{
    font-size: 24px;
    text-align: center;
}

.carts p{
    font-size: 16px;
    text-align: center;
}


.carts img{
    max-width: 100%;
    max-height: 100%;

  }

  .cart-btn{
   display: flex;
   justify-content: space-between;
  }

  .cart-btn a{
    margin-left: 20px;
    background-color: rgb(0,74 ,173);
    border: 1px solid rgb(0,74 ,173);
    border-radius: 10px;
  }

 .BackEnd{
    margin-top: 50px !important;
 }

/* desaparecer los enlaces */
@media(min-width: 1000px){
   
    body{
     padding-top: 50px;
    }
     #inicio{
         flex-direction: row;
         align-items: center;
     }
     article{
        display: flex;
        flex-direction: column;
        align-items: start;
     }

     .foto-leo{
        width:400px;
        margin-right: 60px;
    }
    p{
        text-align:start;
        
    }
   
 }


 @media screen  and (max-width: 1074px){
    
    ul li {
        display: none;
     }

    #menu{
        display: block;
    }
   
  
 }

 

 

 @media screen  and (max-width: 400px){
    body{
        padding-top: 72px;
    }

    .logo{
        width: 100px;
        height: 60px;
    }
    .foto-leo{
        width:150px;
    }

    h1{
        font-size: 24px;
    }

    h1{
        font-size: 20px;
    }
    
    p{
        font-size: 16px;        
    }

    .btn-descarga {
        font-size: 18px;
    }

    .logo-footer{
        width: 80px;
        height: 40px;
    }

    .copirigths{
        font-size: 10px;
    }

    .menu{
        width: 45px;
    }

    .dropdown{
        width: 100%;
    }
    
    .skills{
        width: 100px !important;
        height: 100px !important;
       
    }
 }
 






  
  
  
  